.team-container {
  display: inline;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  padding-bottom: 10rem;
}

.headshots-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 10rem;
}

.team-title {
  font-size: 4rem;
}
.team-name {
  font-weight: normal;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.team-member-card a {
  font-size: 1.5rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.title {
  font-weight: bold;
  font-size: 1.75rem;
}

.intro-paragraph {
  color: rgb(88, 88, 88);
  font-size: 1.5rem;
  font-weight: normal;
}

.docs-title {
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 4rem;
}

.visiql-statement {
  font-size: 2rem;
  text-align: center;
  font-style: italic;
  font-weight: normal;
}

.generating-docs-title {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 2rem;
  color: black;
}

.generating-docs {
  color: rgb(88, 88, 88);
  font-size: 1.5rem;
  font-weight: normal;
}

.doc-container {
  margin: 4rem;
}


@media (max-width: 900px) {
  .headshots-links {
    flex-direction: column;
  }
  html {
    font-size: 12px;
  }
  .doc-container {
    margin-top: 425px;
  }
}