@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '_variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .login-body, .signin-body {
  background-color: $paleteal;
  min-height: 100vh;
  margin-top: -20px;
}


.login-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
// #login-img {
//   margin-top: 10vh;
//   display: hidden;

// }



// #signin-img {
//   margin-top: 5vh;

// }

h2 {
  color: $orange;
  font-size: 3rem;
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: 'Kumbh Sans', sans-serif;
}

.login-body h2 {
  font-size: 4rem;
  margin-top: 50px;
}

.signin-body h2 {
  margin-bottom: 20px;
  margin-top: 5px;
}

.sign-up-message {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
  color: rgb(78, 74, 74);
}

@media (max-width: 900px) {
  .signin-body h2, .login-body h2 {
    margin-top: 375px;
  }

  .signin-body h2 {
    text-align: center;
  }
}